*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    justify-content: space-around;
}

ul li{
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
}
.right-header input{
    padding: 10px;
    width: 232px;
     
}
.login-btn{
    padding: 10px;

}
.product-list{
  display: flex;
  justify-content: center ;
}
.product-list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin-top: 50px;
  

}
.box1{
  border: 1px solid black;
  padding: 50px;
}

/* marquee css start */

.marquee {
  /* width: 100%;       */
  margin: 30px;         
  overflow: hidden;          
  white-space: nowrap;       
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;       
  font-size: 35px;
  font-weight: 600;
  animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* marquee css end */
/* footer css */

.footer {
  background: #222;
  color: #fff;
  padding: 40px 20px;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-about {
  flex: 1 1 300px;
  font-size: 14px;
  line-height: 1.6;
}

.footer-links {
  display: flex;
  flex: 2 1 600px;
  justify-content: space-between;
  gap: 40px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #bbb;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #fff;
}


/* footer css end */


/* Login css start */
 
.main-form input{
  text-align: center;
}
/* Login css end */